* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif !important;
  letter-spacing: 1px;
  zoom: 0.99
}
body {
  background: linear-gradient(112deg, #852cde, #ff7979);
  height: 100vh;
  overflow: auto;
  color: white;
}