.containerMain{
    display: flex;
    height: 100%;
}
.leftPanel{
    flex: 1;
    padding: 20px;
    color: white;
    border-right: 2px solid black;
}
.heading{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.intro{
    flex: 5;
    padding: 20px;
}
.para{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.button{
    background-color: #ffffff;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    box-shadow: 3px 3px 5px black;

}
.button:hover{
    box-shadow: none;
}